.skills-container {
    display: flex;
    padding: 10px;
    margin-bottom: 40px;
    margin-top:  10px;
}

.sub-title {
    padding-top: 15px;
    padding-bottom: 10px;
}

#skills-container {
    justify-content: center;
    margin-top: 20px;
    padding: 30px;
    letter-spacing: 2px;
}

.logos {
    margin-top: -50px; /* Start with a negative margin to hide the element */
    transition: margin-top 0.5s ease-out;
    width: 35px; /* Add a transition for smooth animation */
}

.logos:hover + .hide-title {
    margin-top: 0; /* Set the margin to 0 to drop the element */
    opacity: 1; /* Make the element visible */
}
.hide-title {
    margin-top: -50px; /* Start with a negative margin to hide the element */
    opacity: 0; /* Set initial opacity to 0 */
    transition: margin-top 0.5s ease-out, opacity 0.5s ease-out; /* Add transitions for smooth animation */
}